.container {
	margin: 4% auto;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #101357;
	color: #fff;
	padding: 4.5% 0 1.5% 0;
	font-size: 1.7em;
	border: 0;
	font-family: 'Work Sans', sans-serif;
}
.navbar-inverse .navbar-nav .active a {
	background-color: #101357;
	color: #fff;
}
.navbar-inverse .navbar-nav .active a:focus {
	background-color: #101357;
	color: #fff;
}
.navbar-inverse .navbar-nav .active a:hover {
	background-color: #101357;
	color: #fea49f;
}
.button {
	background-color: #101357;
	border: #101357;
}

.row {
	vertical-align: middle;
}

span {
	padding-left: 40px;
}
#main {
	padding-top: 6%;
	padding-bottom: 6%;
}
h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 60px;
	padding-top: 2%;
}

h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
}


h4 {
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.7em;
}

#profilePic {
	max-width: 250px;
}
#blurb {
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #5e6162;
	color:#fff;
}

a:hover {
	color: #fea49f;
}
.fa {
	padding: 20px;
	font-size: 28px;
	color: #fff;
}
.fa:hover {
	color: #fea49f;
	text-decoration: none;
}

#main {
	padding-top: 6%;
	padding-bottom: 7%;
}

.content {
	padding-top: 2%;
	padding-bottom: 6%;
	font-size: 18px;
	align-content: center;
	width: 60%;
}

.content a {
	color: #101357;
}


.content a:hover {
	color: #fea49f;
}

code {
	background-color: transparent;
	color: #000;
}

/* Publications table */

table {
	width: 100%;
	margin: 20px 0;
}

.publication {
	font-size: 16px;
}


.date { 
	text-align: right;
	font-style: italic; 
	color: #999; 
}

.title {
	font-weight: bold;
	color: #5e6162
}

.publisher { 
	text-align: right;
	font-style: italic; 
	color: #00a0a0; 
	font-weight: normal; 
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#profilePic {
		max-width: 350px;
	}
}

/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
	#profilePic {
		max-width: 400px;
	}
 }

 /* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
	#profilePic {
		max-width: 400px;
	}
 }

  /* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1500px) {
	.container-fluid {
		max-width: 70%;
	}
	#profilePic {
		max-width: 400px;
	}
 }
