.container {
	margin: 4% auto;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #101357;
	color: #fff;
	padding: 4.5% 0 1.5% 0;
	font-size: 1.7em;
	border: 0;
	font-family: 'Work Sans', sans-serif;
}
.navbar-inverse .navbar-nav .active a {
	background-color: #101357;
	color: #fff;
}
.navbar-inverse .navbar-nav .active a:focus {
	background-color: #101357;
	color: #fff;
}
.navbar-inverse .navbar-nav .active a:hover {
	background-color: #101357;
	color: #fea49f;
}
.button {
	background-color: #101357;
	border: #101357;
}

.row {
	vertical-align: middle;
}

span {
	padding-left: 40px;
}
#main {
	padding-top: 6%;
	padding-bottom: 6%;
}
h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 60px;
	padding-top: 2%;
}
#profilePic {
	max-width: 250px;
}
#blurb {
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
}

footer {
	width: 100%;
	background-color: #878787;
	color: #fff;
}

.fa {
	padding: 20px;
	font-size: 28px;
	color: #fff;
}
.fa:hover {
	color: #fea49f;
	text-decoration: none;
}

h4 {
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.7em;
}

#main {
	padding-top: 6%;
	padding-bottom: 7%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#profilePic {
		max-width: 350px;
	}
}

/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
	#profilePic {
		max-width: 400px;
	}
 }

 /* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
	#profilePic {
		max-width: 400px;
	}
 }

  /* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1500px) {
	.container-fluid {
		max-width: 70%;
	}
	#profilePic {
		max-width: 400px;
	}
 }
